*, body, container{
	padding: 0px;
	margin: 0px;
}

#index-section{
	display: grid;
	grid-template-columns: 65% 35%;
	background: linear-gradient(-60deg, rgba(237, 203, 203, 0), rgba(109, 170, 238, 0.5));	
}

.index-left {
	max-height: 100vh;
}
.index-left img{
	max-height: 100vh;
}
.patient-navs-custom{
	display: grid; 
	grid-template-columns: 20% 20% 20% 20% 20%;
}
.p-underline{
	width: 40px; 
	margin: 0 auto; 
	border-bottom: 4px solid rgb(81, 45, 168); 
}
.patient-avatar img{
	height: 250px; 
	width: 220px;
}
textarea{
	resize: none;
}
@media only screen and (max-width: 768px) {
	#index-section{
		grid-template-columns: 0% 100%;
	}
	.index-left img{
		height: 575px;
	}
}